.wrapper {
    width: 330px;
    height: 400px;
  
    display: flex;
    flex-direction: column;
    
    overflow: auto;
  }
  .prt1 {
    display: flex;
    flex-direction: row;
    
    border: solid;
    border-color: darkblue;
  }
  
  .input-txt{
    font-size: 12px;
    margin: 5px 10px;
    padding: 10px 15px;
   /* width: 200px*/
  }
  
  .prt2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    border: solid;
    border-color:darkblue;
    height: 300px;
    overflow: inherit;
  }
  
  .msg-class{
    border:solid;
    border-color: lightblue;
    margin: 2px 5px;
    padding: 5px 5px;
  }
  .msg-class-resp{
    align-self: flex-start; 
    margin-right:20px;
  }
  
  .msg-class-reqw{
    align-self: flex-end; 
    margin-left:20px;
    background-color:lightblue;
  }
  

  .btn {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    cursor: pointer;
    
    display: flex;
    margin: 5px 10px;
    padding: 10px 15px;
    border-radius: 1px;
    font-size: 12px;
    line-height: 15px;
    
    color: white;
    background: #315efb;
    transition: 0.3s;
  }
  
  .btn:hover {
    box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
    transform: scale(1.05);
  }